@{
    var xm = ViewBag.xm;
    ViewData["Title"] = @xm + "挖掘机记录";
}

<table id="wajueji" class="easyui-datagrid" style="height:auto;width:100%">
    <thead>
        <tr>
            <th data-options="field:'id',align:'center',width:'4%'" hidden>id</th>            
            <th data-options="field:'jipai',align:'center',width:'20%'">机牌</th>
            <th data-options="field:'chezhu',align:'center',width:'15%'">车主</th>
            <th data-options="field:'time_work',align:'center',width:'15%'" formatter="formatDatebox">工作日期</th>
            <th data-options="field:'price',align:'center',width:'15%'">单价（元/小时）</th>           
            <th data-options="field:'gongzuoliang',align:'center',width:'15%'" >工作时长（小时）</th>
            <th data-options="field:'gongzuodidian',align:'center',width:'19%'">工作地点</th>           
        </tr>
    </thead>
</table>
<div id="toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">        
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="newwajueji()">新 增</a>
    </div>   
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editwajueji()">编 辑</a>
    </div>
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delwajueji()">删 除</a>
    </div>
    <div style="float: right">        
        <form>
            开始时间: <input class="easyui-datebox" style="width:150px" id="kaishi">
		    至: <input class="easyui-datebox" style="width:150px" id="jieshu">
		    车主: 
		    <select class="easyui-combobox" panelHeight="auto" style="width:100px" id="chezhu_filt" data-options="prompt:'请选择---'">@*data-options="onSelect:function(){chezhu_filt_sel();}"*@
			    @foreach (var item in ViewBag.wajueji_chezhu )
                {
                    <option value="@item">@item</option>
                }
		    </select>
            机牌:
            <select class="easyui-combobox" panelHeight="auto" style="width:200px" id="chepai_filt" data-options="prompt:'请选择---'" >
			    @foreach (var item in ViewBag.wajueji)
                {
                    <option value="@item">@item</option>
                }
		    </select>
		    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">搜索</a>
        </form>        			
    </div>    
</div>
@*这里放一个合计备注，点击搜索后等待脚本执行的datagrid数据加载完毕，用ajax刷新这里的数据*@
<div class="container" id="heji">	
    <div>@ViewBag.msg</div>
</div>

<div id="dlg" class="easyui-dialog" style="width:800px;height:390px;padding:10px 20px" data-options="closed:'true',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate>
        <div class="fitem" hidden>
            <label>id:</label>
            <input id="id" name="id" class="easyui-textbox">
        </div>        
        <div class="fitem">
            <label>机牌:</label>
            @*<select id="jipai" name="jipai" class="easyui-combobox" style="width:550px;height:30px" data-options="editable:false,panelHeight:'auto'" required>
                @foreach (var item in ViewBag.wajueji)
                {
                    <option value="@item">@item</option>
                }
            </select>*@
            <input id="jipai" name="jipai" class="easyui-combobox" data-options="icons:[],editable:false" style="width:550px;height:30px">            
        </div>
        <div class="fitem">
            <label>车主:</label>
            <input id="chezhu" name="chezhu" class="easyui-combobox" data-options="icons:[],editable:false" style="width:550px;height:30px">
        </div>
        <div class="fitem">
            <label>工作时间:</label>
            <input id="time_work" name="time_work" class="easyui-datebox" data-options="editable:false" style="width:550px;height:30px">
        </div>        
        <div class="fitem">
            <label>单价:</label>
            <input id="price" name="price" class="easyui-textbox" data-options="icons:[],validType:'numeric'" style="width:550px;height:30px">
        </div> 
        <div class="fitem">
            <label>工时长:</label>
            <input id="gongzuoliang" name="gongzuoliang" class="easyui-textbox" data-options="icons:[],validType:'numeric'" style="width:550px;height:30px">
        </div> 
        <div class="fitem">
            <label>工作地点:</label>
            <select id="gongzuodidian" name="gongzuodidian" class="easyui-combobox" style="width:550px;height:30px" data-options="editable:true,panelHeight:'auto'">
                @foreach (var item in ViewBag.gongdi)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div> 
    </form>
</div>
<div id="dlg-buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" id="save_btn" onclick="savewajueji()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


@section footer{
    <script type="text/javascript">
        var url,xm= '@ViewBag.xm',chezhu_filt="",chepai_filt="";
        var kaishi,jieshu;
        $(function () {
            $("#wajueji").datagrid({
                singleSelect: true,
                async: false,
                collapsible: true,
                method: 'post',
                url: '/WaJueJis_JiLu/Get_wajuejijilu',
                toolbar: '#toolbar',
                rownumbers: true,
                pagination: true,
                fitcolumns: true,
                //nowrap: false,
                @*fit: true,*@              @*datagrid表不用满屏显示*@
                autoRowheight: false,
                queryParams: {                    
                    xm:xm,
                    kaishi:kaishi,
                    jieshu:jieshu,
                    chezhu_filt:chezhu_filt,
                    chepai_filt:chepai_filt                        
                },
                onLoadSuccess: function (data) {
                    //提交  plain:当True时显示一个普通效果
                    $('.tijiao').linkbutton({ plain: true });
                    $('.tijiao').addClass("c6");                    
                }
            });
            var p = $('#wajueji').datagrid('getPager');

            $(p).pagination({
                pageSize: 20,//每页显示的记录条数，默认为10
                pageList: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });  
            
            //添加挖掘机时对话框 机牌 下拉框初始化赋值
            $('#jipai').combobox({
                url:'/WaJueJis_Jilu/Jipai?xm=@xm',
                editable:false,
                multiple:false,
                prompt:'请选择---',
                valueField:'id',
                textField:'jipai',                
                onChange:function(textField){    //缺少这个传值，困扰了两天
                    jipai_sel(textField);                    
                }
            });  

            //datagrid加载数据的时候，过滤功能中 车牌下拉框和车主下拉框  默认没有选中                        
            $('#chezhu_filt').combobox({  
                onChange:function(textField){    //缺少这个传值，困扰了两天  ,在初始化中，这个  onchange事件就算是没有人为 触发，也会自动执行
                    //alert("change");
                    chezhu_filt_sel();      // 过滤功能中的  车牌下拉框  的 联动触发后 加载数据
                    //$('#chepai_filt').combobox('clear');
                    $('#chepai_filt').combobox('setValue',"");                    
                },
                onLoadSuccess : function() {                    
                    $('#chepai_filt').combobox('setValue',"");
                }                              
            }).combobox('clear'); 
            setTimeout(1000);
            $('#chepai_filt').combobox('setValue',"");
        });

        //对textbox进行验证
        $.extend($.fn.textbox.defaults.rules, {
            positive_int: {
                validator: function (value, param) {
                    if (value) {
                        return /^[0-9]*[1-9][0-9]*$/.test(value);
                    } else {
                        return true;
                    }
                },
                message: '只能输入正整数.'
            },
            numeric: {
                validator: function (value, param) {
                    if (value) {
                        return /^[0-9]*(\.[0-9]+)?$/.test(value);
                    } else { 
                        return true;
                    }
                },
                message: '只能输入数值.'
            }
        });

        //在过滤筛选中，当车主下选框选中时，触发 生成 车牌下选框  的二联动，
        function chezhu_filt_sel(){            
            var chezhu_sel = document.getElementById("chezhu_filt").value;            
            $('#chepai_filt').combobox({
                disabled:false,
                prompt:'请选择---',
                url:'/WaJueJis_JiLu/Jipai_filt?xm=@xm&chezhu='+chezhu_sel,    // 过滤功能中的  车牌下拉框  的 联动触发后 加载数据,初始加载和联动加载使用同一个方法，只需在后台判断  车主 是否为空
                valueField:'id',
                textField:'jipai',
                onLoadSuccess : function() {   //判断返回的值长度，默认加载第一项
                        var data = $('#chepai_filt').combobox('getData');                        
                        if(data.length > 0){                        	
	                        $('#chepai_filt').combobox('select',"");    //当人为触发  下拉框的 onchange事件，如果有数据，车牌下拉框默认加载第一项的下拉列表
                        }
                 }
            });
        };

        //添加挖掘机时对话框 机牌 下拉框初始化赋值
        function jipai_sel(textField){           
            //刷新数据，重新读取省份下的城市，并清空当前输入的值
            $('#chezhu').combobox({
                disabled:false,
                prompt:'请选择---',
                url:'/WaJueJis_Jilu/Chezhu?xm=@xm&jipai='+$('#jipai').combobox("getValue"),
                valueField:'id',
                textField:'chezhu', 
                onLoadSuccess : function() {   //判断返回的值长度，默认加载第一项
                        var data = $('#chezhu').combobox('getData');                        
                        if(data.length > 0){                        	
	                        $('#chezhu').combobox('select',data[0].id);
                        }
                    }
            }).combobox("clear");
        }

        @*截取显示部分时间*@
        function formatDatebox(value){           
            var time = value.substring(0,10);           
            return time;
        };

        //点击搜索触发事件
        function doSearch() {            
            var kaishi = document.getElementById("kaishi").value;
            var jieshu = document.getElementById("jieshu").value;
            var chezhu_filt = document.getElementById("chezhu_filt").value;
            var chepai_filt = document.getElementById("chepai_filt").value;
            @*这里的参数 xm ，写成 @xm 一直拿不到值，一直到不了后台的断点*@
            $('#wajueji').datagrid('load', { "xm":xm, "kaishi": kaishi, "jieshu": jieshu,"chezhu_filt":chezhu_filt,"chepai_filt":chepai_filt });   
            
            //这里执行ajax 替换 datagrid 底部的提示信息
            $.ajax({
                type: 'post', //请求的方式
                async : false,
                url:  '/WaJueJis_JiLu/Wajueji_tishi?xm=@xm&kaishi='+kaishi+'&jieshu='+jieshu+'&chezhu_filt='+chezhu_filt+'&chepai_filt='+chepai_filt+'', // 请求的URL地址
                @*data: {  },// 这次请求要携带的数据*@
                success: function(res) { //请求成功之后的回调函数
                    @*var jsonStr = JSON.stringify(res);*@
                    if(res.length>0){   
                        var div_data = "<div>"+res+"</div>"
                        $("#heji").html(div_data);
                        //alert(res);                                 
                    }                                
                }
            });
        };

        function newwajueji() {
            $('#dlg').dialog('open').dialog('setTitle', '新增挖掘机信息');
            $('#fm').form('clear');            
            @*设置时间输入框显示当天日期  *@
            $('#time_work').datebox('setValue',formatterDate(new Date()));
            url = '/WaJueJis_JiLu/Save_wajuejijilu?xm=@xm';
        };

        //设置时间输入框默认显示当前时间
        function formatterDate(date) {            
            var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
            var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : "0"
                + (date.getMonth() + 1);            
            return date.getFullYear() + '/' + month + '/' + day;
        };

        function editwajueji() {
            var row = $('#wajueji').datagrid('getSelected');
            if (row) {
                var id = row.id;
                $('#dlg').dialog('open').dialog('setTitle', '编辑挖掘机信息');
                $('#fm').form('load', row);
                url = '/WaJueJis_JiLu/Update_wajueji?id='+id;
            }
            else {
                $.messager.alert("错误提示", "请选择要编辑的行！", "warning");
            }
        };

        function savewajueji() {
            $('#save_btn').linkbutton({ disabled: true });   //这里是为解决一个连击问题
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {       
                    
                    return $(this).form('validate');
                },
                success: function (result) {
                    //result = $.parseJSON(result);

                    result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid
                    
                    $('#dlg').dialog('close');		// close the dialog
                    $('#wajueji').datagrid('reload');	// reload the user data
                    if (result.success ) {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        });
                    }
                    else {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        })
                    }
                },
            });
            $('#save_btn').linkbutton({ disabled: false });   //释放连击被禁用的按钮
        };

        function delwajueji() {
            var row = $('#wajueji').datagrid('getSelected');
            if (row) {
                $.messager.confirm('提示', '您确定要删除这条记录吗？', function (r) {
                    if (r) {
                        $.post('/WaJueJis_JiLu/Del_wajueji', { id: row.id }, function (result) {
                            if (result.success) {
                                $('#wajueji').datagrid('reload');	// reload the user data
                            } else {
                                result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid

                                $.messager.show({	// show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    };
                });
            }
            else {
                $.messager.alert("错误提示", "请选择要删除的行！", "warning");
            }
        };                
    </script>

    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 10px;
        }

            .fitem label {
                display: inline-block;
                width: 80px;
            }

            .fitem input {
                width: 160px;
            }
    </style>
}
